{
  "plugins": [
    "security"
  ],
  "extends": [
    "airbnb",
    "plugin:security/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "jsx-a11y/media-has-caption": 0,
    "import/no-extraneous-dependencies": 0,
    "react/destructuring-assignment": 0,
    "security/detect-object-injection": 0,
    "security/detect-child-process": 0,
    "security/detect-non-literal-regexp": 0
  }
}
