.idea/
vcs.xml

.gitignore
node_modules

.nyc_output
.vscode
.directory
coverage
dist
logs
*.mwb.bak

.docker/mysql_data/*

package-lock.json
yarn-error.log

# Ignore Mac DS_Store files
.DS_Store

# Keep .gitkeep files
!/**/.gitkeep
